<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #1A759F;">
    <div class="container-fluid">
        <a class="navbar-brand text-white font-weight-bold text-center" href="#">
            <img src="/img/logo.png" alt="logo" height="40" class="d-inline-block align-text-top">
            <img src="/img/nombre.png" alt="nombre" height="40" class="d-inline-block align-text-top">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-white" href="#|" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Alquiler
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Departamentos</a></li>
                        <li><a class="dropdown-item" href="#">Casas</a></li>
                        <li><a class="dropdown-item" href="#">Oficinas</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Temporarios
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Departamentos</a></li>
                        <li><a class="dropdown-item" href="#">Casas</a></li>
                        <li><a class="dropdown-item" href="#">Oficinas</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Venta
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Departamentos</a></li>
                        <li><a class="dropdown-item" href="#">Casas</a></li>
                        <li><a class="dropdown-item" href="#">Oficinas</a></li>
                        <li><a class="dropdown-item" href="#">Lotes</a></li>
                        <li><a class="dropdown-item" href="#">Locales Comerciales</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <button type="button" class="btn btn-outline-light text-white" style="background-color: #52B69A;">Registrarse</button>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="#">Ingresar</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
