<nav class="navbar navbar-expand-lg bg-body-tertiary p-3" id="menu">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/}">
            <span class=" fs-4 fw-bold"  style="color: #1A759F;"> MrHouse </span> 
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/}">
                        Inicio
                    </a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Alquilar
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" th:href="@{/inmueble/lista/casaAlquiler}">Casa</a></li>
                        <li><a class="dropdown-item" th:href="@{/inmueble/lista/departamentoAlquiler}">Departamento</a></li>
                        <li><a class="dropdown-item" th:href="@{/inmueble/lista/localAlquiler}">Local</a></li>
                        <li><a class="dropdown-item" th:href="@{/inmueble/lista/loteAlquiler}">Lote</a></li>
                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Comprar
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" th:href="@{/inmueble/lista/casaVenta}">Casa</a></li>
                        <li><a class="dropdown-item" th:href="@{/inmueble/lista/departamentoVenta}">Departamento</a></li>
                        <li><a class="dropdown-item" th:href="@{/inmueble/lista/localVenta}">Local</a></li>
                        <li><a class="dropdown-item" th:href="@{/inmueble/lista/loteVenta}">Lote</a></li>
                    </ul>
                </li>               
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" th:if="${session.usuariosession != null}" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Perfil
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" sec:authorize="hasRole ('ADMIN')" th:href="@{/admin/dashboard}">Panel Admin</a></li>
                        <li><a class="dropdown-item" sec:authorize="hasRole ('ADMIN')" th:href="@{/inmueble/crear}">Ofrecer propiedad</a></li>
                        <li><a class="dropdown-item" sec:authorize="hasRole ('ENTE')" th:href="@{/inmueble/crear}">Ofrecer propiedad</a></li>
                        <li><a class="dropdown-item" th:href="@{/logout}">Cerrar Sesión</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contactanos</a>
                </li>
                
            </ul>
            
            <ul class="navbar-nav ml-auto">
                              
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" th:if="${session.usuariosession == null}" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Registrarse
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" th:href="@{/usuario/crearEnte}">Ente</a></li>
                        <li><a class="dropdown-item" th:href="@{/usuario/crearCliente}">Cliente</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link " th:if="${session.usuariosession == null}"  th:href="@{/login}">Ingresar</a>
                </li>
                
            </ul>
        </div>
    </div>
</nav>
