body {
    height: 100%;
    box-sizing: border-box;
    /*Color de fondo de la paÃÅgina*/
    /*background-color: #184E77;*/
}

main {
    height: 100%;  
}
.card {
    border-radius: 0.7em;
}

.editImagenes {
    display: flex;
    justify-content: end;
    position: relative;
    top: -73%;
    left: -4%;
}

.carousel-item img {
    border-radius: 0.7em;
}

.tipoOfertaVenta {
    color: #fff;
    font-size: 1.3em;
    font-weight: 700;
    text-shadow: 2px 2px 2px black;
    text-align: end;
    position: absolute;
    top: 29%;
    left: 59%;
}

.tipoOfertaAlquiler {
    color: #fff;
    font-size: 1.3em;
    font-weight: 700;
    text-shadow: 2px 2px 2px black;
    text-align: end;
    position: absolute;
    top: 29%;
    left: 48%;
}

.precio {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.precio .col1 p {
    display: inline;
    font-size: 1.7em;
    font-weight: bold;
    font-family: 'Open Sans';
}

.descripcion {
    color: rgb(94, 94, 94);
}

@media screen and (max-width: 1199px) {
    .tipoOfertaAlquiler {
        left: 40%;
    }
}

@media screen and (min-width: 768px) {
    main {
        height: 100%;
    }
}

@media screen and (max-width: 575px) {
    .tipoOfertaAlquiler {
        left: 70%;
    }
    .tipoOfertaVenta {
        left: 76%;
    }

}

@media screen and (max-width: 420px) {
    .tipoOfertaAlquiler {
        left: 62%;
    }
    .tipoOfertaVenta {
        left: 72%;
    }
}
    
