/* :root {
  --color-primario: #d9ed92;
  --color-secundario: #b5e48c;
  --color-terciario: #99d98c;
  --color-cuaternario: #76c893;
  --color-quinto: #52b69a;
  --color-sexto: #34a0a4;
  --color-septimo: #168aad;
  --color-octavo: #1a759f;
  --color-noveno: #1e6091;
  --color-decimo: #184e77;
} */

@import url("style.css");
body {
  margin: 0;
  height: 100%;
}

.contenedor {
  height: 70%;
  box-sizing: border-box;
}

.fondo {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../img/llave.jpg");
  height: 95%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  box-sizing: border-box;
}

.formCrearInmueble {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin: 1.5em 2em;
  border-radius: 10px;
  color: #fff;
  font-weight: bold;
  text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.5);
}

.formCrearInmueble .col-1-general {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.formCrearInmueble .col-2-general {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 100%;
}

.formCrearInmueble .form-row1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 1em 0;
}

.formCrearInmueble .form-row2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 1em 0;
}

.formCrearInmueble .form-row3 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 1em 0;
}

.formCrearInmueble .form-row3 textarea {
  resize: none;
}

.formCrearInmueble .form-row4 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 1em 0;
}

.formCrearInmueble .form-row5 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 1em 0;
}

.formCrearInmueble .form-row1 .form-col1 {
  width: 35%;
  margin-right: 0.5em;
}

.formCrearInmueble .form-row1 .form-col2 {
  width: 55%;
  margin-left: 0.5em;
}

.formCrearInmueble .form-row2 .form-col1 {
  width: 45%;
  margin-right: 0.5em;
}

.formCrearInmueble .form-row2 .form-col2 {
  width: 45%;
  margin-left: 0.5em;
}

.formCrearInmueble .form-row3 .form-col1 {
  width: 90%;
}

.formCrearInmueble .form-row4 .form-col1 {
  width: 20%;
  align-items: center;
  margin-right: 0.5em;
}

input[type="radio"]:checked {
  background-color: #168aad;
  border-color: #168aad;
}

.formCrearInmueble .form-row4 .form-col2 {
  width: 40%;
  margin-left: 0.5em;
}

.formCrearInmueble .form-row5 {
  width: 80%;
  padding-right: 2em;
}

.formCrearInmueble .form-row5 button {
  font-size: 1.5em;
}

/* BTN CSS */
.button-79 {
  backface-visibility: hidden;
  background-color: #168aad;
  border: 0;
  border-radius: 0.375rem;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: Circular, Helvetica, sans-serif;
  font-size: 1.125rem;
  font-weight: 700;
  letter-spacing: -0.01em;
  line-height: 1.3;
  padding: 1rem 1.25rem;
  position: relative;
  text-align: left;
  text-decoration: none;
  transform: translateZ(0) scale(1);
  transition: transform 0.2s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-79:disabled {
  color: #787878;
  cursor: auto;
}

.button-79:not(:disabled):hover {
  transform: scale(1.05);
}

.button-79:not(:disabled):hover:active {
  transform: scale(1.05) translateY(0.125rem);
}

.button-79:focus {
  outline: 0 solid transparent;
}

.button-79:focus:before {
  border-width: 0.125rem;
  content: "";
  left: calc(-1 * 0.375rem);
  pointer-events: none;
  position: absolute;
  top: calc(-1 * 0.375rem);
  transition: border-radius;
  user-select: none;
}

.button-79:focus:not(:focus-visible) {
  outline: 0 solid transparent;
}

.button-79:not(:disabled):active {
  transform: translateY(0.125rem);
}

/*Terminar de personalizar errores vistas*/
.form-row .form-mensajeExito{
	width: fit-content;
	padding: 0.5em;
	border: 2px solid #055b83;
	background-color: #055b83;
	border-radius: 20px;
	font-family: 'Montserrat', sans-serif;
	color: rgb(255, 255, 255);
	font-weight: bold;	
}
.form-row .form-mensajeError{
	width: fit-content;
	padding: 0.5em;
	border: 2px solid #055b83;
	background-color: #055b83;
	border-radius: 20px;
	font-family: 'Montserrat', sans-serif;
	color: #D9ED92;
	font-weight: bold;	
}
.form-row .form-mensajeError .text-validacion,
.form-row .form-mensajeExito .text-validacion {
	margin-bottom: 0;
	font-weight: 900;
}

@media (max-width: 846px) {
  .fondo {
    height: fit-content;
  }
  .formCrearInmueble {
    flex-direction: column;
  }
  .formCrearInmueble .col-2-general {
    backdrop-filter: blur(10px);
    width: 90%;
    border-radius: 20px;
  }
}

@media (max-width: 500px) {
  .formCrearInmueble .col-2-general .form-row1 {
    flex-direction: column;
  }
  .formCrearInmueble .col-2-general .form-row2 {
    flex-direction: column;
  }
  .formCrearInmueble .col-2-general .form-row3 {
    flex-direction: column;
  }
  .formCrearInmueble .col-2-general .form-row4 {
    flex-direction: column;
  }
  .formCrearInmueble .col-2-general .form-row1 .form-col1 {
    width: 60%;
    margin-right: 0;
  }
  .formCrearInmueble .col-2-general .form-row1 .form-col2 {
    width: 80%;
    margin-left: 0;
  }
  .formCrearInmueble .col-2-general .form-row2 .form-col1 {
    width: 80%;
    margin-right: 0;
  }
  .formCrearInmueble .col-2-general .form-row2 .form-col2 {
    width: 80%;
    margin-left: 0;
  }
  .formCrearInmueble .col-2-general .form-row3 {
    width: 90%;
    margin-top: 0;
  }
  .formCrearInmueble .col-2-general .form-row4 .form-col1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .formCrearInmueble .col-2-general .form-row4 .form-col1 .form-check {
    margin: 0 0.5em;
  }
  .formCrearInmueble .col-2-general .form-row4 .form-col2 {
    margin-top: 0.5em;
    margin-left: 0;
    width: 60%;
  }
  .formCrearInmueble .col-2-general .form-row5 {
    width: 100%;
    padding: 0;
  }
}

@media (min-height: 738px) {
  .contenedor {
    height: 100vh;
  }

  /*faltan acomodar los inputs para cuando el height sea mayor a 738px*/
}
