@import url('style.css');

.formCrearInmueble {
    background-color: #34A0A4;
    padding: 20px;
    margin: 1.5em 2em;
    border-radius: 10px;
}

.fondo {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../img/llave.jpg');
    height: 400px;
    background-repeat : no-repeat;
    background-size: cover;
    background-position: center;
    box-sizing: border-box;
}