html {
   
}
body {
    background-color: #f8f9fa;
    
}

main {
    height: 100vh;
}

.perfil-container {
    height: 100%;
    border: 5px solid #168AAD;
    border-radius: 10px;
    padding: 20px;
    background-color: #ffffff;
    margin-top: 50px;
}

.row {
    align-items: center;
    justify-content: center;
    height: 90%;
    padding-left: 2em;
}

.perfil-img {
    border-radius: 50%;
    border: 3px solid #3f3f3f;
    max-width: 250px;
    margin-top: 20px;
    margin-bottom: auto;
}

#nombre{
    padding: 30px;
    color:#34A0A4;
    margin-top: auto;
    font-size: 5.5em;
}
 .tabla{
    height: 100%;
    text-align: start;
 }

 span {
    margin: 0.5em 0;
 }

 .botonM {
    background-color: #34A0A4;
    color: #ffffff;
    border: 1px solid #34A0A4;
    padding: 0.7em;
    border-radius: 0.8em;
    margin-right: 5.5em;
}

.botonE {
    background-color: #FF6347;
    color: #ffffff;
    border: 1px solid #FF6347;
}

.btns-perfil {
    margin-top: 3em;
}

.btns-perfil a {
    color: black;
    text-decoration: none;
}

.btns-perfil a:hover {
    
    
    padding: 0.8em;
}

@media screen and (max-height: 768px) {
    main {
        height: 100%;
    }

    .perfil-container {
        height: -webkit-fill-available;
    }
}

/*Modificar*/

.caja-grande {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 1.5em;
}

.caja-1 {
    width: 40%;
}

.caja-2 {
    width: 40%;
}

label {
    margin-bottom: 0.5em;
    width: 70%;
    text-align: start;
}

input {
    margin-bottom: 0.5em;
    padding: 0.4em;
    outline: none;
    border-radius: 1em;
    border: 2px solid #34A0A4;
}

