body{
    font-family: 'League Spartan' , sans-serif;
    overflow-x: hidden;
}

.nav-item.dropdown:hover .nav-link,
.nav-item.dropdown:hover .dropdown-menu {
    background-color: #168AAD;
}

div#footer {
    margin-top: 1em;
    position: absolute;
}

.bg-custom-color {
    background-color: #168AAD;
    color: #fff;
}

h1 {
    color: black;
    font-size: 7px;
    font-family: 'League Spartan', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@500&family=Montserrat&display=swap');
.d-flex .btn-primary {
    color: #ffffff; /* Color del texto (blanco en este caso) */
    background-color: #1A759F !important; /* Color de fondo del botón (puedes cambiarlo según tus preferencias) */
    border-color: #1A759F !important; /* Color del borde del botón (puedes cambiarlo según tus preferencias) */
}

#menu a {
    font-size:18px ;
    font-weight: bold;
    color: #3f3f3f;
}

#menu button {
    font-size:18px ;
    font-weight: bold;
}

.carousel-inner {
    max-height: 39rem;

}

/* PANTALLA MEDIA QUERIES  PANTALLA ANCHA*/

@media(max-width: 1200px){
    #local {
        flex-wrap: wrap;
        padding-top: 30px;
    }

    .wrapper {
        width: 90%;      
        padding-top: 50px;
    }
}

/* PANTALLA MEDIA QUERIES  SM*/

@media (max-width: 768px) {
    #intro, #equipo {
        width: 90% !important;
    }

    #carouselExampleInterval .carousel-item img {
        height: auto;
    }


    #equipo p {
        display: none;
    }

    .servicio-fila {
        width: 100% !important;
        text-align: center;
    }   

}

/* PANTALLA MEDIA QUERIES EXTRA-SM */

@media(max-width: 576px) {
    .icono-wrap{
        flex-wrap: wrap;
        justify-content: center !important;
    }
}

/* MAPA */

.mapa {
    background: url(../img/ubicacion.png);
    width: 100%;
    height: 500px;
    margin-top: 50px;
}

#local {
    background-color: #f3f3f3;
    padding-bottom: 65px;
    display: flex;
    justify-content: center;
}

.wrapper {
    width: 50%;
    margin-left: 100px;
    padding-top: 100px;
}

/* SECCION EQUIPO MENDOZA*/

#numeros-local div{
    padding: 0 20px 0 0;
    height: 48px;

}

#numeros-local div:not(:last-child){
    border-right: 2px solid #3f3f3f;
}

#numeros-local div:not(:first-child){
    padding-left: 20px;

}

#numeros-local p{
    margin: 0;

}

div#footer {
    margin-top: 1em;
}

.logo {
    
    top: 60px; /* Distancia desde la parte superior */
    margin-right: 10px; /* Distancia desde el borde derecho */
    right: 0;
  }
  
  