<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Registro Cliente</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@500&family=Montserrat&display=swap"
            rel="stylesheet"
            />
        <link rel="stylesheet" href="/css/registro_form.css">
    </head>
    <body>
        
<div class="page-content">
            <div class="form-v10-content">
                <form
                    class="form-detail"
                    action="/usuario/creadoCliente"
                    method="post"
                    id="myform"
                    enctype="multipart/form-data"
                    >
                    <div class="form-left">
                        <h2>Datos Generales</h2>

                        <div class="form-row">
                            <input
                                type="text"
                                name="denominacion"
                                id="denominacion"
                                class="input-text"
                                placeholder="Nombre Completo"
                                />
                        </div>
                        <div class="form-row">
                            <input
                                type="number"
                                name="dni"
                                id="dni"
                                class="input-text"
                                placeholder="DNI"
                                />
                        </div>
                        <div class="form-group">
                            <div class="form-row form-row-1">
                                <input
                                    type="text"
                                    name="direccion"
                                    class="direccion"
                                    id="direccion"
                                    placeholder="Dirección"
                                    />
                            </div>
                            <div class="form-row form-row-2">
                                <input
                                    type="number"
                                    name="codigoPostal"
                                    class="codigoPostal"
                                    id="codigoPostal"
                                    placeholder="Codigo Postal"
                                    />
                            </div>
                        </div>
                        <div class="form-row">
                            <input
                                type="number"
                                name="telefono"
                                class="telefono"
                                id="telefono"
                                placeholder="Teléfono"
                                />
                        </div>
                        <div class="form-row">
                            <input
                                type="file"
                                name="archivo"
                                class="telefono"
                                id="archivo"
                                placeholder="Foto"
                                />
                        </div>
                        <div class="form-row">
                            <div th:if="${error != null}" class="form-mensajeError">
                                <div class="">
                                    <h5 class="">Error!</h5>
                                    <p class="text-validacion" th:text="${error}"></p>
                                </div>
                            </div>
                            <div th:if="${exito != null}" class="form-mensajeExito">
                                <div class="">
                                    <h5 class="">Exito!</h5>
                                    <p class="text-validacion" th:text="${exito}"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-right">
                        <h2>Tu cuenta</h2>

                        <div class="form-row">
                            <input
                                type="email"
                                name="email"
                                class="email"
                                id="email"
                                placeholder="Email"
                                />
                        </div>
                        <div class="form-row">
                            <input
                                type="password"
                                name="pass"
                                id="pass"
                                class="input-text"
                                placeholder="Contraseña"
                                />
                        </div>
                        <div class="form-row">
                            <input
                                type="password"
                                name="pass2"
                                id="pass2"
                                class="input-text"
                                placeholder="Repetir Contraseña"
                                />
                        </div>
                        <div class="form-checkbox">
                            <label class="container">
                                <p>
                                    Acepto los
                                    <a href="#" class="text">términos y condiciones</a> de uso.
                                </p>
                                <input type="checkbox" name="checkbox" required />
                                <span class="checkmark"></span>
                            </label>
                        </div>
                        <div class="form-group">
                            <div class="form-row form-row-1">
                                <input
                                    type="submit"
                                    name="register"
                                    class="register"
                                    value="Registrarse"
                                    />
                            </div>
                            <div class="form-row form-row-2">
                                <p class="form-redirect">
                                    ¿Ya tienes cuenta?<br />
                                    <a th:href="@{/login}" class="text-redirect">Inicia Sesión</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
<script src="./registro.js"></script>
</body>
</html>
