<!DOCTYPE html>
<html>

<head>
    <title>Maps</title>
</head>

<body>
    <h1>Contacto</h1>
    <p>
        Mendoza Capital
        <br>
        Provincia de Mendoza. Argentina.
        <br>
        2615522560
    </p>
    <hr>
<iframe src="
    https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d53609.022228352325!2d-68.8997189013738!3d-32.88325636558852!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x967e093ec45179bf%3A0x205a78f6d20efa3a!2sMendoza%2C%20Capital%2C%20Mendoza!5e0!3m2!1ses-419!2sar!4v1702267339351!5m2!1ses-419!2sar"
    width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"
    referrerpolicy="no-referrer-when-downgrade" frameborder="0"></iframe>
</body>

</html>