<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>MrHouse</title>
        <link rel="stylesheet" href="./css/main.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="/css/error.css">
    </head>

    <body>
        <nav th:replace="/fragment/navbar :: nav">  </nav>
        <main>
            <section class="contenedorMain" style="text-align: center;">
                <div class="caja-mh">
                    <a class="navbar-brand" th:href="@{/}">
                        <span id="span-mh" class="fw-bold"  style="color: #1A759F;"> MrHouse </span> 
                    </a>
                </div>
                
                <div class="contenedorError">
                    <p class="errorCodigo" th:text="'Error ' + ${codigo}"></p>
                    <p class="errorMensaje" th:text="${mensaje}"></p>

                </div>
                <div class="contenedorSesion">
                    <p class="mensajeSesion" th:if="${session.usuariosession != null}" th:text=" 'Usted a ingresado como '+ ${session.usuariosession.rol} "></p>

                </div>
                
            </section>
        </main>


        <footer th:replace="/fragment/footer :: footer">  </footer>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>

    </body>

</html>