<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
 <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>MrHouse</title>
        <link rel="stylesheet" href="./css/main.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="/css/inmuebleList.css">
    </head>
    <body>
        <nav th:replace="./fragment/navbar :: nav"></nav>
        
          <main>
            <div class="container">
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                    
                    <div class="col" th:each="inmueble : ${inmuebles}">
                        <div class="card shadow-sm">
                            <img class="card-img-top" src="/img/imagesUnavailable.png" alt="Imagen de la propiedad" width="100%" height="225">
                            <div class="card-body">
                                <h3 th:text="${inmueble.ubicacion}"></h3>
                                <p class="card-text" th:text="${inmueble.descripcion}"></p>
                                <p class="card-text">Ambientes:</p>
                                <p class="card-text" th:text="${inmueble.ambientes}"></p>
                                <p class="card-text">Superficie:</p>
                                <p class="card-text" th:text="${inmueble.superficie}"> m2</p>
                                <p class="card-text" th:if="${inmueble.tipoOferta == 'alquiler'}" th:text="${inmueble.precioAlquiler}"></p>
                                <p class="card-text" th:if="${inmueble.tipoOferta == 'venta'}" th:text="${inmueble.precioVenta}"></p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <!--
                                        <a  class="btn btn-sm btn-outline-secondary">View</a> 
                                        <a th:href="@{/noticia/modificar/__${noticia.id}__}" class="btn btn-sm btn-outline-secondary">Edit</a> 
                                        <a th:href="@{/noticia/eliminar/__${noticia.id}__}" class="btn btn-sm btn-outline-secondary">Delete</a>
                                        -->
                                    </div>
                                    <small class="text-body-secondary" th:text="${inmueble.fechaAlta}"></small>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>     
            </div>


        </main>
        
        
        <footer th:replace="./fragment/footer :: footer"></footer>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

    </body>
</html>
