<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Registrarse</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@500&family=Montserrat&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/css/login.css">
    </head>
    <body>

        <div class="page-content">
            <div class="form-v10-content">
                <form
                    class="form-detail"
                    th:action="@{/logincheck}"
                    method="post"
                    id="myform"
                    >
                    <div class="form-left">
                        <div class="container-left">
                            <h2>Tu futuro, nuestra pasión...</h2>
                            <div class="form-row" id="box-logo">
                                <span class="fw-bold text-logo" id="typewriter"
                                      >MrHouse</span
                                >
                            </div>

                            <div class="form-row">
                                <h2 class="text-slogan">
                                    Haciendo realidad tus sueños de hogar, un contrato a la vez!
                                </h2>
                            </div>
                        </div>
                    </div>

                    <div class="form-right">
                        <h2>Bienvenido de vuelta!</h2>
                        <div class="form-row">
                            <input
                                type="email"
                                name="email"
                                class="email"
                                id="email"
                                placeholder="Email"
                                />
                        </div>
                        <div class="form-row">
                            <input
                                type="password"
                                name="pass"
                                id="pass"
                                class="input-text"
                                placeholder="Contraseña"
                                />
                        </div>
                        <div class="form-group">
                            <div class="form-row form-row-1">
                                <input
                                    type="submit"
                                    name="login"
                                    class="login"
                                    value="Iniciar Sesión"
                                    />
                            </div>
                            <div class="form-row form-row-2">
                                <p class="form-redirect">
                                    ¿No tienes cuenta?<br />
                                    <a th:href="@{/usuario/crearCliente}" class="text-redirect"
                                       >Registro Cliente</a
                                    ><br />
                                    <a th:href="@{/usuario/crearEnte}" class="text-redirect"
                                       >Registro Ente</a
                                    >
                                </p>
                            </div>
                        </div>
                        <div class="form-row">
                            <div th:if="${error != null}" class="form-mensajeError">
                                <div class="">
                                    <h5 class="">Error!</h5>
                                    <p class="text-validacion" th:text="${error}"></p>
                                </div>
                            </div>
                            <div th:if="${exito != null}" class="form-mensajeExito">
                                <div class="">
                                    <h5 class="">Exito!</h5>
                                    <p class="text-validacion" th:text="${exito}"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
        <script src="https://unpkg.com/typewriter-effect@latest/dist/core.js"></script>
        <script src="/scripts/login.js"></script>
    </body>
</html>
