<html xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>MrHouse</title>
        <link rel="stylesheet" href="./css/main.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="/css/inmuebleList.css">
    </head>
    <body>
        <nav th:replace="./fragment/navbar :: nav"></nav>

        <div class="container m-5" >

            <table class="table table-white">
                <thead class="align-items-center">
                    <tr >
                        <th scope="col">Id del oferta</th>
                        <th scope="col">Tipo de Inmueble</th>
                        <th scope="col">Operación</th>
                        <th scope="col">Ubicación</th>     
                        <th scope="col">Monto</th>
                        <th scope="col">Estado</th>
                    </tr>
                </thead>
                <tbody th:each="oferta : ${ofertas}"> 
                    <tr>
                        <th scope="row" th:text="${oferta.id}"></th>
                        <td th:text="${oferta.inmueble.tipo}"></td>
                        <td th:text="${oferta.inmueble.tipoOferta}"></td>
                        <td th:text="${oferta.inmueble.ubicacion}"></td>
                        <td th:text="${oferta.montoOferta}"></td>
                        <td th:text="${oferta.estadoOferta}"> </td>

                        <td >
                            <button th:if="${oferta.estadoOferta} == 'ACEPTADA'" type="button" class="btn btn-outline-primary me-2 custom-button">
                                <a th:href="@{/oferta/confirmar/__${oferta.id}__}" class="nav-link px-2">
                                    <font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Confirmar</font></font>
                                </a>
                            </button>
                        </td>
                        <td>
                            <button th:if="${oferta.estadoOferta} == 'PENDIENTE'" type="button" class="btn btn-outline-primary me-2 custom-button">
                                <a th:href="@{/oferta/eliminar/__${oferta.id}__}" class="nav-link px-2">
                                    <font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Cancelar</font></font></a>
                            </button>
                             <button th:if="${oferta.estadoOferta} == 'ACEPTADA'" type="button" class="btn btn-outline-primary me-2 custom-button">
                                <a th:href="@{/oferta/descartar/__${oferta.id}__}" class="nav-link px-2">
                                    <font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Cancelar</font></font></a>
                            </button>
                            <button th:if="${oferta.estadoOferta} == 'CONFIRMADA' and ${oferta.tipoOferta} == 'alquiler'" type="button" class="btn btn-outline-primary me-2 custom-button">
                                    <a th:href="@{/oferta/cancelar/__${oferta.id}__}" class="nav-link px-2">
                                        <font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Cancelar Alquiler</font></font></a>
                                </button>
                        </td>

                    </tr>

                </tbody>
            </table>


            <div th:if="${exito}!=null" class="card text-white bg-success mb-3 mt-3 mensajeExito" >
                <div class="card-body">
                    <h5 class="card-title">Exito </h5>
                    <p class="card-text" th:text="${exito}"></p>
                </div>
            </div>
            <div th:if="${error}!=null" class="card text-white bg-danger mb-3 mensajeError" >
                <div class="card-body">
                    <h5 class="card-title">Error </h5>
                    <p class="card-text" th:text="${error}"></p>
                </div>
            </div>

            <section class="py-5 text-center container">
                <div class="row py-lg-5">
                    <div class="col-lg-6 col-md-8 mx-auto">
                        <a th:href="@{/}" class="btn custom-button my-2">Volver</a>
                    </div>
                </div>
            </section>

        </div>


        <footer th:replace="./fragment/footer :: footer"></footer>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

    </body>
</html>
